@use "~@/styles/variables.scss" as v;

.flexibleRow {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: v.$breakpoint-desktop) {
    flex-direction: row;
  }
}
