.stars {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 2rem);
  overflow: hidden;
  top: 1rem;
  z-index: -2;
}

.star {
  position: absolute;
  width: 30px; // Adjust the size as needed
  height: 30px; // Adjust the size as needed
  pointer-events: none;
  animation: moveStar 5s infinite ease-in-out;
}

@keyframes moveStar {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(var(--translate-x), var(--translate-y)) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
