@keyframes rocketLaunch {
  0% {
    bottom: -100%;
    left: -100%;
    transform: translate(-50%, 0);
  }
  100% {
    bottom: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(3deg);
  }
}

$spline-side-offset: 35rem;

.rocket_parent {
  z-index: 1;
  position: absolute;
  translate: -50% -50%;
  //$duration: 0.1s;
  //transition: left $duration ease-in-out, top $duration ease-in-out;//, rotate $duration ease-in-out;
  left: -100vw;
  top: 30vh;
}

.rocket {
  animation: rocketLaunch 2s forwards, floating 3s infinite ease-in-out;
}

.positioner {
  position: absolute;
  top: 0;
  width: calc(100vw + 2 * $spline-side-offset);
  left: -35rem;
  right: -35rem;
}

.rocket_container {
  position: relative;
  width: 100%;
  height: 100%;
  translate: 0 10rem;
}

.debug_path {
  width: 100%;
}
