.spaceBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25vh;

  // TODO: Remove when more content is added
  margin-bottom: 250vh;
}

.backgroundBanner {
  position: absolute;
  z-index: -3;
  top: 0;
  width: 100%;
}

.content {

}
