.cicle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  width: 10rem;
  height: 10rem;
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(var(--translate-x), var(--translate-y)) scale(1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
