@use "@/styles/reset";
@use "@/styles/variables";
@use "@/styles/variables" as v;
@use "@/styles/defaults";
@use "@/styles/utils";
@use "@/styles/custom";

@use "sass:meta";

body {
  // Website defaults
  font-family: "Poppins", sans-serif;
  background-color: v.$color-background;
  color: v.$color-text;
}

body {
  // Loading intro
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  // Prevent scrollbar from appearing for horizontal overflow
  overflow-x: clip;

  &.loading {
    opacity: 0;
  }
}
