.colorfulTitle {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  font-size: 2rem;

  &.reverseColor {
    flex-direction: column-reverse;
  }

  &.reverseAlign {
    align-items: flex-end;
  }

  .color {
    font-family: serif;
    font-style: italic;
  }
}
