@use "~@/styles/variables.scss" as v;

.moonVisual {
  display: none;
  position: relative;
  flex-shrink: 0;
  z-index: -2;
  margin-left: 5rem;

  .blob {
    height: 100%;
    width: 100%;
    max-width: 45rem;
    max-height: 45rem;
    position: relative;
    aspect-ratio: 1/1;
  }

  .moon,
  .kite {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }

  .moon {
    top: 17rem;
    left: -5rem;
    max-width: 51rem;
  }

  .kite {
    top: 0;
    left: 10rem;
    max-width: 15rem;
    transform-origin: 50% 50%;
    animation: floatKite 25s ease-in-out infinite;
  }

  @media (min-width: v.$breakpoint-desktop) {
    display: block;
  }
}

@keyframes floatKite {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  10% {
    transform: translate(5px, -15px) rotate(3deg) scale(1.01);
  }
  20% {
    transform: translate(15px, -30px) rotate(5deg) scale(1.02);
  }
  30% {
    transform: translate(30px, -20px) rotate(3deg) scale(1.01);
  }
  40% {
    transform: translate(35px, 0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(20px, 20px) rotate(-3deg) scale(1.01);
  }
  60% {
    transform: translate(5px, 30px) rotate(-5deg) scale(1.02);
  }
  70% {
    transform: translate(-10px, 20px) rotate(-2deg) scale(1.01);
  }
  80% {
    transform: translate(-20px, 10px) rotate(0deg) scale(1);
  }
  90% {
    transform: translate(-10px, 0) rotate(2deg) scale(1.01);
  }
  100% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}
