@use "~@/styles/variables.scss" as v;

.moonVisual {
  display: none;

  position: relative;
  flex-shrink: 0;
  z-index: -2;
  margin-left: 5rem;

  .blob {
    height: 100%;
    width: 100%;
    max-width: 45rem;
    max-height: 45rem;
    position: relative;
    aspect-ratio: 1/1;
  }

  .moon,
  .kite {
    position: absolute;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
  }

  .moon {
    top: 17rem;
    left: -5rem;
    max-width: 51rem;
  }

  .kite {
    top: 0;
    left: 10rem;
    max-width: 15rem;
  }

  @media (min-width: v.$breakpoint-desktop) {
    display: block;
  }
}
