@use "~@/styles/variables.scss" as v;
@use "~@/styles/utils.scss" as utils;

.footer {
  padding-top: 15rem;
  width: 100vw;
  position: relative;
  overflow-x: clip;

  .content {
    @include utils.display-flex(row, 1rem);
    justify-content: space-between;
    align-items: center;
    margin-bottom: -18rem;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 2rem;
    width: 100%;

    & {
      @media (min-width: v.$breakpoint-desktop) {
        display: flex;
      }
    }

    > article {
      display: flex;
      flex-direction: column;
      width: 100vw;

      @media (min-width: v.$breakpoint-desktop) {
        width: fit-content;
      }
    }

    & {
      @media (min-width: v.$breakpoint-desktop) {
        display: flex;
      }
    }
  }

  .banner {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    overflow: clip;
    height: 35rem;

    & {
      @media (min-width: v.$breakpoint-desktop) {
        height: 15rem;
      }
    }
  }
}
