@use "~@/styles/variables.scss" as v;

.footer {
  padding-top: 15rem;
  width: 100vw;

  .content {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -18rem;
    flex-wrap: wrap;
    gap: 2rem;

    > article {
      display: flex;
      flex-direction: column;
    }

    & {
      @media (min-width: v.$breakpoint-desktop) {
        display: flex;
      }
    }
  }

  .banner {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
}
