@use "~@/styles/variables.scss" as v;

.flexibleRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 auto;
    min-width: 200px; /* Adjust as needed */
    max-width: 100%; /* Prevents overflow */
  }
}

.hideOnMobile {
  display: none;
}

@media (min-width: v.$breakpoint-desktop) {
  .hideOnMobile {
    display: flex;
  }
}
