body {
  // Website defaults
  font-family: "Poppins", sans-serif;
  background-color: #100429;
  color: #fff;
}

body {
  // Loading intro
  opacity: 1;
  transition: opacity 0.5s ease-in-out;

  // Prevent scrollbar from appearing for horizontal overflow
  overflow-x: clip;

  &.loading {
    opacity: var(--loading-start-opacity, 0);
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 40rem) { // Small Devices (640px)
    max-width: 40rem;
  }

  @media (min-width: 48rem) { // Medium Devices (768px)
    max-width: 48rem;
  }

  @media (min-width: 64rem) { // Large Devices (1024px)
    max-width: 64rem;
  }

  @media (min-width: 80rem) { // Extra Large Devices (1280px)
    max-width: 80rem;
  }

  @media (min-width: 96rem) { // 2x Extra Large Devices (1536px)
    max-width: 96rem;
  }

  @media (min-width: 128rem) { // 3x Extra Large Devices (1920px)
    max-width: 128rem;
  }
}
